
body{
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #3d3d3d;
    width: 80%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    line-height: 1.4;
}

.titulo{
    background-color: rgb(173, 147, 147, 0.135);
    padding: 10px;
   
}

.subtitulo{
    border-bottom: 3px solid black;
}

figure{
    max-width: 100%;
    box-sizing:border-box;
    
    text-align: center;
    background-color: rgba(173, 147, 147, 0.135);
    border: 1px solid rgb(156, 126, 126);
    margin: 30px;
    padding: 15px; 
}

figcaption{
    margin-top: 10px;
}

figure img{
    width: 100%;
}

.matriz-musicdot{
    width: 590px;
    margin-left: auto;
    margin-right: auto;

}

.familia-tupfeln{
    width: 330px;
    float: right;
}

.contato_subtitulo{
    display: inline;
}

.contato_info{
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato_info-titulo,
.contato_info-descricao{
    display: inline;
}

.contato_info-descricao{
    margin-left: 10px;
}

.rodape{
    padding: 1.75em 0;
    font-size: 1.1rem;
}

.rodape_logo{
    width: 6em;
}

.rodape_copyright{
    margin-top: 00px;
    padding: 4px;
    display: block;
    margin-left: 1em;
}

@media (max-width: 622px){
    .familia-tupfeln{
        float: none;
        margin: 0 auto;
    }
}

    @media (max-width: 446px){
        .contato_subtitulo{
            display: block;
            margin-bottom: 0;
        }
    
    .contato_info{
        padding-left: 8px;
        font-size: .85em;
        border-left: 2px solid rgb(201, 184, 184);
    }

    .rodape{
        font-size: .92em;
    }

    @media (max-width: 342px){
        .contato_info-descricao{
            display: block;
            margin-left: 0em;
        }
    }



